#edit-headset, #edit-fork, #edit-bars, #edit-clamp {
  width: 400px;
}

.compatMsgYes {
	color: #009900;
	font-weight: bold;
}

.compatMsgMaybe {
	color: #FF9900;
}

.compatMsgNo {
	color: #FF0000;
	font-style: italic;
}

#configForm {
	margin-bottom: 2em;
}

#compatMatrix  {
}

#compatMatrix tbody {
	border: none;
}

#compatMatrix td {
	border-color: #CCCCCC;
	border-width: 1px;
	border-style: solid;
	font-size: 0.8em;
	background-color: #EFEFEF;
}

#compatMatrix .noborder {
	border: none;
	background-color: #FFFFFF;
}

#compatMatrix .compatCell {
  text-align: center;
}

#compatMatrix .compatCol {
  background-color: #CCFFCC;
}

.partNotes {
	font-size: 0.8em;
	font-style: italic;
}