/*
www.devsaran.com
*/

/*google font*/
@import url(http://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);


/*-----------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  background: #fff;
  line-height: 1;
}

/* Block elements */
header, hgroup, footer, section, article, aside {
  display: block;
}

blockquote, q {
  quotes:none;
  border: 1px solid #bbbbbb;
  background: #d8d8d8 url(images/quote.png) no-repeat;
  padding: 10px 5px 5px 47px;
  text-shadow: 1px 1px #fff;
  margin: 5px 0;
  border-radius: 7px;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

pre {
  background: #d8d8d8;
  text-shadow: 1px 1px #fff;
  border: 1px solid #bbbbbb;
  padding: 7px;
  margin: 5px 0;
  border-radius: 7px;
}

code {
  background: #d8d8d8;
  text-shadow: 1px 1px #fff;
  border: 1px solid #bbbbbb;
  display: block;
  padding: 7px;
  margin: 5px 0;
  border-radius: 7px;
}

ins {
  background-color:#fdfc9b;
  text-decoration:none;
}

mark {
  background-color:#fdfc9b;
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

hr {
  height:1px;
  background: #9f9f9f;
  margin: 7px 0;
  border: none;
  clear: both;
  float: none;
  width: 100%;
}

input, select {
  vertical-align:middle;
}

select {
  border-radius: 4px;
  border: 1px solid #ACACAC;
  padding: 3px 4px;
}

.clear {
  clear: both;
}

.clearfix:after {
  display: block;
  visibility: hidden;
  content: ".";
  clear: both;
  text-indent: -9999px;
  height: 0;
}

fieldset {
  border: 1px solid #ccc;
  margin: 0 0 1.4615em;
  padding: 1.5385em;
}

table {
  border-collapse:collapse;
  border-spacing:0;
  margin-bottom: 15px;
  width: 100%;
}

th, tr, td {
  vertical-align: middle;
}

.sticky-header th, .sticky-table th {
  border-bottom: 3px solid #ccc;
  padding-right: 1em;
  text-align: left;
}

/*-----------------------------------------------------------------------------------*
/* = Body, Common Classes & Wrap
/*-----------------------------------------------------------------------------------*/

body {
  /*background: #f9f9f9;*/
  background: #330066;
  font-size: 14px;
  line-height: 1.6em;
  color: #333;
  font-family: 'Lora', Helvetica Nue, Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #ec651b;
}
a:hover {
  text-decoration: none;
}
p { margin: 0 0 1em }
strong { font-weight: 700 }
em { font-style: italic }

* html .clearfix{ zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
.remove-margin { margin-right: 0 !important }

/*-----------------------------------------------------------------------------------*
/* = Structure
/*-----------------------------------------------------------------------------------*/

#wrap{
  margin: 30px auto;
  width: 980px;
  padding: 30px 30px 15px;
  background:#fff;
  border: 1px solid #ccc;
  -moz-box-shadow: 0 0 20px rgba(192,192,192, 0.4);
  -webkit-box-shadow: 0 0 20px rgba(192,192,192, 0.4);
  box-shadow:  0 0 20px rgba(192,192,192, 0.4);
}

/*-------------------------------------------*
/*Headings
/*-------------------------------------------*/
h1,
h2,
h3,
h4 {
  color: #333;
  line-height: 1.5em;
  font-weight: bold;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 1.2em;
}

h2 {
  font-size: 21px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h2,
h3 {
  margin-top: 12px;
  margin-bottom: 0px;
}

h1 a,
h2 a,
h3 a,
h4 a { color: #333 }
h2 a:hover,
h3 a:hover,
h4 a:hover { color: #000; text-decoration: none; }

/* -------------- Form Elements   ------------- */

fieldset {
  background: #ffffff;
  border: 1px solid #cccccc;
  margin-top: 10px;
  margin-bottom: 32px;
  padding: 0 0 10px;
  position: relative;
  top: 12px; /* Offsets the negative margin of legends */
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.fieldset-wrapper {
  margin-top: 25px;
}

.node-form .vertical-tabs .fieldset-wrapper {
  margin-top: 0;
}

.filter-wrapper { top: 0; padding: 1em 0 0.2em;
-khtml-border-radius-topright: 0; -khtml-border-radius-topleft: 0; -moz-border-radius-topright: 0; -moz-border-radius-topleft: 0;
-webkit-border-top-left-radius: 0; -webkit-border-top-right-radius: 0; border-top-left-radius: 0; border-top-right-radius: 0; }

.filter-help a { font-size: 0.857em; padding: 2px 20px 0; }

.filter-wrapper .form-item label { margin-right: 10px; }

.filter-wrapper .form-item { padding: 0 0 0.5em 0.5em; }

.filter-guidelines { padding: 0 1.5em 0 0.5em; }

fieldset.collapsed { background: transparent; -khtml-border-radius: 0; -moz-border-radius: 0;  -webkit-border-radius: 0; border-radius: 0; }

fieldset legend { background: #dbdbdb; border: 1px solid #ccc; border-bottom: none; display: block; height: 2em;
left: -1px; line-height: 2; padding: 0; position: absolute; text-indent: 10px; text-shadow: 0 1px 0 #fff; top: -12px; width: 100%;
-khtml-border-radius-topleft: 4px; -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px;
-khtml-border-radius-topright: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; }

fieldset.collapsed legend { -khtml-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

fieldset .fieldset-wrapper { padding: 0 10px; }

fieldset .fieldset-description { margin-top: 5px; margin-bottom: 1em; line-height: 1.4; font-style: italic; }

input { margin: 2px 0; padding: 4px; }

input, textarea {  font-size: 0.929em; }

textarea { line-height: 1.5; }

textarea.form-textarea, select.form-select { padding: 4px; }

input.form-text, textarea.form-textarea, select.form-select { border: 1px solid #ccc; }

.password-suggestions ul li { margin-left: 1.2em; }

.form-item { margin-bottom: 1em; margin-top: 2px; }

.form-item label { font-size: 0.929em; }

.form-type-radio label, .form-type-checkbox label { margin-left: 4px; }

.form-type-radio .description, .form-type-checkbox .description { margin-left: 2px; }

.form-actions { padding-top: 10px; }

button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
/* IE10 */
background-image: -ms-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
/* Mozilla Firefox */
background-image: -moz-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
/* Opera */
background-image: -o-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #E3E3E3));
/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
/* Proposed W3C Markup */
background-image: linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
/* IE6-9 */
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E3E3E3');

border: 1px solid #dbdbdb;
-moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px;
-moz-box-shadow: inset 0 1px 0 0 white; -webkit-box-shadow: inset 0 1px 0 0 white; -o-box-shadow: inset 0 1px 0 0 white; box-shadow: inset 0 1px 0 0 white;
color: #333333; text-shadow: 0 1px 0 white; position: relative; font-weight:bold; padding: 8px 1em 9px 1em; margin-right: 10px; }

button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
/* IE10 */
background-image: -ms-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
/* Mozilla Firefox */
background-image: -moz-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
/* Opera */
background-image: -o-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #DBDBDB), color-stop(1, #F2F2F2));
/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
/* Proposed W3C Markup */
background-image: linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
/* IE6-9 */
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#DBDBDB', endColorstr='#F2F2F2');

-moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px;
-moz-box-shadow: inset 0 1px 0 0 white;
-webkit-box-shadow: inset 0 1px 0 0 white;
-o-box-shadow: inset 0 1px 0 0 white;
box-shadow: inset 0 1px 0 0 white;
cursor: pointer; }

button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
width: 100%; padding-left: 0 !important; padding-right: 0 !important; text-align: center; }

a.button, #main a.button  { text-decoration:none; }

.button-alt,
.button,
.button.small,
.button.large,
.button.medium { background-image: none; padding: 8px 1em 9px 1em; margin: 0; display: inline-block; font-stretch: narrower;
font-weight: bolder; text-align: center; text-decoration: none; }

.button.left { float: left; }

.button.right { float: right; }

.button.center,.button.middle { margin: 0px auto; text-align: center; display: inherit; }

.button-alt a,.button a,.button.small a { font-size: .9em; line-height: 14px; text-decoration:none; }

.button.medium a { font-size: 1.2em; line-height: 20px; }

.button.large a { font-size: 1.5em; line-height: 24px; }

/*-------------------------------------------------*
/* = Header
/*-------------------------------------------------*/
#header {
  /*margin-bottom: 25px;*/
  /*margin-bottom: 10px;*/
  width: 980px;
  background: url(images/scootam-header.jpg) no-repeat;
  margin-bottom: 0px;
}
#header-top{
  position: relative;
}
#logo{
  float: left;
  width: 60%;
}
#logoimg {
  float:left;
  padding-right: 15px;
}
#sitename, #sitename h1, #sitename h1 a {
	font-size: 1px;
	display: none;
}
/*
#sitename {
  float:left;
}
#sitename h1 {
  padding-top: 10px;
  margin: 0px;
}
#sitename h1 a{
  font-size: 38px;
  font-weight: bold;
  color: #333;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(192,192,192, 0.6);
}
*/

#logo a:hover { color: #000; }

#header-top .search-block {
  float: right;
  width: 40%;
  margin: 14px 0 0;
}

.search-block #search-block-form {
  text-align: right;
}

#search-block-form input[type="submit"] {
  padding: 4px 1em 5px;
}

#site-slogan {
  /*
  padding: 35px 0 15px;
  margin-top: 20px;
  border-top: double #ddd;
  text-align: center;
  font-size: 28px;
  */
	font-size: 1.2em;
	font-family: 'Helvetica Nue', Arial;
	padding-left: 22px;
}

/*-------------------------------------------------*
/* =  Navigation
/*-------------------------------------------------*/
#navigation {
  background: #444;
  height: 55px;
  margin-bottom: 25px;
  border-bottom: 4px solid #ddd;
  font-family: 'Helvetica Nue', Arial;
}
/*** ESSENTIAL Navigation Style ***/
#main-menu ul.menu,
#main-menu ul.menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
#main-menu ul.menu { line-height: 1.0 }
#main-menu ul.menu ul {
  position: absolute;
  top: -999em;
  width: 160px; /* left offset of submenus need to match (see below) */
}
#main-menu ul.menu ul li { width: 100% }
#main-menu ul.menu li:hover {
  visibility: inherit; /* fixes IE7 'sticky bug' */
}
#main-menu ul.menu li {
  float: left;
  position: relative;
}
#main-menu ul.menu a {
  display: block;
  position: relative;
}
#main-menu ul.menu li:hover ul,
#main-menu ul.menu li.sfHover ul {
  left: 0;
  top: 55px; /* match top ul list item height */
  z-index: 99;
}
#main-menu ul.menu ul li:hover li ul.menu,
#main-menu ul.menu ul li.sfHover li ul.menu { top: -999em }
#main-menu ul.menu ul li:hover ul.menu,
#main-menu ul.menu ul li.sfHover ul.menu {
  left: 160px;
  top: 0;
}
/* navigation skin ***/
#main-menu ul.menu {
  float: left;
  margin-bottom: 1em;
}
#main-menu ul.menu a {
  height: 55px;
  line-height: 55px;
  font-size: 13px;
  font-weight: bold;
  color: #ddd;
  padding: 0 20px;
  text-decoration: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#main-menu ul.menu li{
  padding-right: 2px;
  background-image: url("images/nav-border.png");
  background-position: right top;
  background-repeat: no-repeat;
}
/*
#main-menu ul.menu li:last-child{
  background-image: none;
}
*/
#main-menu ul.menu a:focus,
#main-menu ul.menu a:active,
#main-menu ul.menu li.sfHover > a {
  color: #fff;
  background-color: #000;
}


#main-menu ul.menu a:hover {
	border-bottom: 4px solid #330066;
}

#main-menu ul li a.active {
  color: #fff;
  background-color: #000;
  /*border-bottom: 4px solid #1f82cb;*/
  border-bottom: 4px solid #CCCCCC;
  height: 59px;
  line-height: 59px;
  margin-left: -1px;
}
#main-menu ul li a.active-trail {
  color: #fff;
  background-color: #000;
  /*border-bottom: 4px solid #1f82cb;*/
  border-bottom: 4px solid #330066;
  height: 59px;
  line-height: 59px;
  margin-left: -1px;
}
#main-menu ul ul li a.active {
  color: #fff;
  background-color: #000;
  border-bottom: none;
  height: auto;
  line-height:1em;
  margin-left:none;
}
#main-menu ul ul li a.active-trail {
  color: #fff;
  background-color: #000;
  border-bottom: none;
  height: auto;
  line-height:1em;
  margin-left:none;
}
#main-menu ul ul ul li a.active {
  color: #fff;
  background-color: #000;
  border-bottom: none;
  height: auto;
  line-height:1em;
  margin-left:none;
}
/*Subs*/
#main-menu ul.menu ul{
  background: #444;
  -moz-box-shadow: 0 0 3px rgba(0,0,0,.4);
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,.4);
  box-shadow:  0 0 3px rgba(0,0,0,.4);
}
#main-menu ul.menu ul a{
  margin: 0px;
  font-size: 12px;
  padding: 15px 20px;
  line-height: 1em;
  height: auto;
  font-weight: normal;
  background-image: none;
  z-index: 200;
}
#main-menu ul.menu ul li{
  border: none;
  background-image: none;
}
#main-menu ul.menu ul a:focus,
#main-menu ul.menu ul a:hover,
#main-menu ul.menu ul a:active {
  color: #fff;
}
#main-menu ul.menu ul .current-menu-item a{
  color: #fff;
  border: none !important;
}
#main-menu ul.menu ul li:last-child{
  border-bottom: 0px;
}


/*-----------------------------------------------------------------------------------*/
/* = Image Slider
/*-----------------------------------------------------------------------------------*/

#slider-wrap{
  width: 660px;
  padding-bottom: 52px;
  border-bottom: double #ddd;
  padding-right: 30px;
  border-right: double #ddd;
}

#home-slides{
  width: 660px;
  min-height: 100px;
  position: relative;
  background:url("images/loader.gif") no-repeat 50% 50%;
  border-bottom: 6px solid #ddd;
}

#home-slides img{
  display: block;
  margin: 0;
  padding: 0;
}
#home-slides .slides_container {
  width:660px;
}
#home-slides .slides_container .slide,
#home-slides .slides_container .video-slide div {
  width: 920px;
  display:block;
}
#home-slides .caption{
  position: absolute;
  width: 620px;
  height: auto;
  left: 0px;
  bottom: 0px;
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-shadow: 1px 1px 1px rgba(0,0,0, 1);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}
#home-slides .caption h2,
#home-slides .caption h3{
  font-size: 21px;
  color: #fff;
  margin: 0;
}
#home-slides .caption p{
  color: #999;
  font-size: 14px;
  line-height: 1.3em;
}

#home-slides .prev,
#home-slides .next{
  display: block !important;
  position: absolute;
  right: 0px;
  bottom: -45px;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
  z-index:90;
  transition: background 0.3s ease-in-out;
  -webkit-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
}
#home-slides .prev{
  right: 30px;
  background: #000 url("images/sliders/arrow-left.png") center center no-repeat;
}
#home-slides .next{
  background: #000 url("images/sliders/arrow-right.png") center center no-repeat;
}
#home-slides .prev:hover,
#home-slides .next:hover{
  /*background-color: #1f82cb;*/
  background-color: #330066;
}

#home-slides .pagination{
  position: absolute;
  left: 0px;
  bottom: -45px;
}
#home-slides .pagination li{
  float: left;
  list-style: none;
}
#home-slides .pagination a{
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-decoration: none;
  text-align: center;
  color: #666;
  background: #eee;
  font-family: 'Helvetica Nue', Arial;
  font-size: 13px;
  margin-right: 5px;
  transition: background 0.3s ease-in-out;
  -webkit-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
}
#home-slides .pagination a:hover{
  background-color: #d5d5d5;
  color: #333;
}
#home-slides .pagination .current a{
  /*background: #1f82cb;*/
  background: #330066;
  color: #fff;
}

#main {
  float: left;
}

#post-content {
  display: inline;
  margin: 0;
}

body.sidebar-first #post-content {
  float: left;
  width: 687px;
  padding-left: 30px;
  border-left: double #ddd;
  overflow: hidden;
}

.node {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #EEE;
}

#post-content h1 {
  margin-bottom: 0px;
}

.page-title {
  margin-bottom: 10px !important;
}

#sidebar {
  width: 260px;
  float: left;
}
#sidebar .block {
  padding-bottom: 0px;
  margin-bottom: 10px;
  margin-right: 10px;
}
#sidebar .block > h2 {
  font-size: 16px;
  margin-top: 0px !important;
  margin-bottom: 10px;
}

.region-header {
  margin-bottom: 25px;
}

.region-header .block {
  margin-bottom: 15px;
}

.region-footer .block {
  margin-bottom: 15px;
}

#footer-wrap{
  width: 100%;
  background: #333;
  margin-top: 30px;
  font-size: 13px;
  border-top: 4px solid #ddd;
}
#footer{
  width: 920px;
  margin: 0 auto;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #7f7f7f;
}
#footer a{
  color: #999;
  text-decoration: none;
}
#footer a:hover{
  /*color: #1f82cb;*/
  color: #330066;
}

#footer-widget-wrap{
}
#footer-left,
#footer-middle,
#footer-right{
  float: left;
  width: 280px;
  margin-top: 30px;
}
#footer-right{
}
#footer-middle{
  margin-left: 40px;
  margin-right: 40px;
}
#footer-right{
}

#footer-wrap .block {
  color: #7f7f7f;
  margin-bottom: 30px;
}
#footer-wrap .block > h2{
  color: #fff;
  font-size: 16px;
  margin: 0 0 20px;
}

#copyright{
  font-size: 12px;
  color: #666;
  margin-top: 15px;
  padding-top: 15px;
  border-top: double #ddd;
}
#credit{
  text-align: right;
}

#preface-wrapper {
margin:5px auto 25px;
}

#preface-wrapper .column {
float: left;
}

#preface-wrapper.in1 .column {
width: 100%;
}

#preface-wrapper.in2 .column {
width: 50%;
}

#preface-wrapper.in3 .column {
width: 33.3%;
}

#preface-wrapper .block {
margin: 0 15px;
}

#preface-wrapper .block-title {
margin-top:15px;
}

#preface-wrapper .region {
margin:15px 0;
}

.submitted {
  /*background: #EFEFEF;*/
  /*padding: 4px 9px;*/
  padding: 0;
  border-radius: 4px;
  color: #383838;
  text-shadow: 1px 1px #fff;
  clear: both;
  display: block;
  margin-bottom: 10px;
  margin-top: 0px;
  font-size: 0.8em;
}

.links li a {
  background-color: #EFEFEF;
  color: #100100;
  padding: 4px 5px;
  border-radius: 4px;
  text-shadow: 1px 1px #fff;
  font-weight: normal;
}

.links li a:hover {
  background-color: #D7D5D3;
  color: #100101;
}

.content ul, .content ol {
  padding-left:20px;
}

.content table {
  background: #ececec;
  border: 1px solid #bbbbbb;
}

.content th {
  background: #dbdbdb;
  padding: 5px 4px;
  text-shadow: 1px 1px #fff;
  border-right: 1px solid #c8c7c7;
}

.content td {
  background: #ebebeb;
  color: #747474;
  text-align: left;
  padding-left: 4px;
  border-right: 1px solid #c8c7c7;
  border-bottom: 1px solid #c8c7c7;
}

/*-------------------------------------------*
/* Fix CKEditor style
/*-------------------------------------------*/
#main table.cke_editor {
  background: transparent;
  border: 0;
}
#main table.cke_editor td {
  background: transparent;
  padding: 0;
  border: 0;
}

/*-------------------------------------------*
/* Poll, Buttons, Form
/*-------------------------------------------*/
.poll .vote-form .choices .title {
  font-size: 14px;
  font-weight: normal;
  line-height: 2;
}

.poll .vote-form .choices {
  margin: 0;
}


/*-------------------------------------------*
/* Menus and item lists
/*-------------------------------------------*/
.item-list ul {
  margin: 0;
  padding: 0 0 0 1.5385em;
}

.item-list ul li {
  margin: 0;
  padding: 0;
}

ul.menu li {
  margin: 0;
  padding: 0;
}

ul.inline {
  clear: both;
}

ul.inline li {
  margin: 0;
  padding: 0;
}

/*-------------------------------------------*
/* Admin Tabs
/*-------------------------------------------*/
.tabs-wrapper {
  border-bottom: 1px solid #b7b7b7;
  margin: 0 0 5px 0;
}

ul.primary {
  border: none;
  margin: 0;
  padding: 0;
}

ul.primary li a {
  background: none;
  border: none;
  display: block;
  float: left;
  line-height: 1.5385em;
  margin: 0;
  padding: 0 1em;
  border-radius: 4px 4px 0 0;
  margin-right: 5px;
}

ul.primary li a:hover, ul.primary li a.active {
  background: #666;
  border: none;
  color: #fff;
}

ul.primary li a:hover {
  background: #888;
  text-decoration: none;
}

ul.secondary {
  background: #666;
  border-bottom: none;
  clear: both;
  margin: 0;
  padding: 0;
}

ul.secondary li {
  border-right: none;
}

ul.secondary li a, ul.secondary li a:link {
  border: none;
  color: #ccc;
  display: block;
  float: left;
  line-height: 1.5385em;
  padding: 0 1em;
}

ul.secondary li a:hover, ul.secondary li a.active {
  background: #888;
  color: #fff;
  text-decoration: none;
}

ul.secondary a.active {
  border-bottom: none;
}

/*-------------------------------------------*
/* Tabs and Tags
/*-------------------------------------------*/
.field-name-field-tags {
  margin: 0 0 10px 0;
}

.field-name-field-tags a{
  -moz-transition: background 0.3s ease-in-out 0s;
  background: none repeat scroll 0 0 #999;
  border-radius: 3px 3px 3px 3px;
  color: #fff !important;
  font-family: 'Helvetica Nue',Arial;
  font-weight: bold;
  line-height: 1em;
  padding: 3px 4px;
  text-decoration: none;
}

.field-name-field-tags a:hover{
	/*background: none repeat scroll 0 0 #1F82CB;*/
  background: none repeat scroll 0 0 #330066;
  text-decoration: none;
  text-shadow: none;
}

.field-name-field-tags .field-item {
  margin: 0 1em 0 0;
}

.field-name-field-tags div {
  display: inline;
}

#main .field-label{
  color: #000;
}

#main .field-items .field-item{
}

/*-------------------------------------------*
/* Profile
/*-------------------------------------------*/
.profile {
  margin: 1.5385em 0;
}

.profile dd {
  margin-bottom: 1.5385em;
}

.profile h3 {
  border: none;
}

.profile dt {
  margin-bottom: 0;
}

.password-parent {
  width: 36em;
}

/* Comments */

.comment h2.title { margin-bottom: 1em; }

.comment div.user-picture img { margin-left: 0; }

.comment { margin-bottom: 20px; display: table; vertical-align: top; }

.comment .attribution { display: table-cell; padding: 0 35px 0 0; vertical-align: top; overflow: hidden; }

.comment .attribution img { margin: 0; border: 1px solid #d3d7d9; }

.comment .attribution .username { white-space: nowrap; }

.comment .comment-submitted p { margin: 4px 0; font-size: 1.071em; line-height: 1.2; }

.comment .comment-submitted .comment-time { font-size: 0.786em; }

.comment .comment-submitted .comment-permalink { font-size: 0.786em; text-transform: lowercase; }

.comment .content { font-size: 0.929em; line-height: 1.6; }

.comment .comment-arrow { background: url(images/comment-arrow.gif) no-repeat 0 center transparent;
border-left: 1px solid; border-right: 1px solid; height: 40px; margin-left: -36px; margin-top: 15px; position: absolute; width: 20px; }

.comment .comment-text { padding: 0 25px 10px 35px; display: table-cell; vertical-align: top; position: relative; width: 100%; border-left: 1px solid #d3d7d9; }

.comment .indented { margin-left: 40px; }

.comment-unpublished { margin-right: 5px; padding: 5px 2px 5px 5px; }

.comment .comment-text .comment-arrow { border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; }

/*-------------------------------------------*
/* Navigation
/*-------------------------------------------*/
.item-list .pager {
}

.item-list .pager li {
  background: #cfcfcf;
  border-radius: 3px;
  margin-right: 4px;
  text-shadow: 1px 1px #fff;
}

/*-------------------------------------------*
/* Forum
/*-------------------------------------------*/
.field-name-taxonomy-forums div {
  display: inline;
  margin-top: 4px;
}

.field-name-taxonomy-forums .field-items {
}

#forum .title {
  font-size: 16px;
}

#forum .submitted {
  font-size: 12px;
  font-family: Lucida Grande, Verdana, Arial, sans-serif;
  background: transparent;
  padding: 0;
}

#forum .container {
  background: #a1a1a1;
  color: #fff;
}

#forum .container a {
  color: #000;
  font-weight: bold;
}

#forum div.indent {
  margin-left: 2px;
}

.forum-starter-picture {
  float: left;
  padding: 4px;
  border: 1px solid #d9d9d9;
  margin: 5px 7px 5px 0;
}

#forum th {
  background: #434343;
  text-shadow: none;
  color: #fff;
}

#forum th a {
  color: #fff;
}

#forum td.forum .icon, #forum .icon div {
  background: url(images/no-new-posts.png) no-repeat;
  width: 35px;
  height: 35px;
}

#forum .name a{
  font-size: 16px;
}


/*-----------------------------------------------------------------------------------*
/* Shortcodes
/*-----------------------------------------------------------------------------------*/

/*columns*/
.one-half{ width:48%; }
.one-third{ width:30.66%; }
.two-third{ width:65.33%; }
.one-fourth{ width:22%; }
.three-fourth{ width:74%; }
.one-fifth{ width:16.8%; }
.one-sixth{ width:13.33%; }
.one-half, .one-third, .two-third, .one-fourth, .three-fourth, .one-fifth, .one-sixth {
  position:relative; margin-right:4%; float:left;
}


.column-last{margin-right: 0px;}
.column-first{margin-left: 0px;}


/*-----------------------------------------------------------------------------------*
/* ScootAm Custom
/*-----------------------------------------------------------------------------------*/

.view-id-rider_listing ul, .view-id-rider_listing ul li {
	list-style-type: none;
}

#block-search-form {
  /*margin-top: 	50px;*/
}

#footer .menu a:hover {
	color: #FFFFFF;
}

.field-name-field-promo-photos {
	float: left;
	margin-bottom: 20px;
}

.field-name-field-promo-photos .field-item {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.node-promo footer {
	clear: both;
	margin-top: 20px;
}

.view-rider-listing {
	margin-bottom: 20px;
}

.view-rider-listing #leftcol {
	float: left;
	width: 50%;
	margin-bottom: 40px;
}

.view-rider-listing #leftcol {
	float: left;
	width: 50%;
}

.rider-listing-name {
  margin-right: 4px;
}

#add-comment {
	margin-bottom: 40px;
}

article.node-promo {
	margin-bottom: 40px;
	padding: 4px;
}

.featured-promo {
	border: solid 2px #330066;
}

ul.pager {
	margin-bottom: 20px;
	margin-top: 20px;
}

#promo-node-form .form-wrapper {
  clear: both;
}

#edit-field-promo-description-und-0-format {
  display: none;
}

.field-name-field-promo-riders-name {
  font-size: 1.2em;
}

#promo-node-form .field-name-field-promo-riders-name {
  font-size: 1em;
}

#edit-comment-body-und-0-format {
  display: none;
}

#comments {
  clear: both;
}

#edit-field-promo-video .fieldset-description {
  font-style: normal;
}

#edit-field-promo-photos .fieldset-description {
  font-style: normal;
}


.parental-warning {
  font-size: 0.8em;
  line-height: 1.0em;
}
.parental-warning img {
  margin-left: 1.0em;
  margin-bottom: 1.0em;
}

.view-scootam-twitter-feed .views-row {
  font-size: 0.8em;
  margin-bottom: 1.0em;
}