.field-name-uc-product-image {
  clear: right;
  float: right;
  margin: 0px 0px 10px 10px;
}

.product-image {
  padding-top: 4px;
  text-align: center;
}

.uc-price-label {
  font-weight: bold;
}

.list-price .uc-price-label {
  font-weight: normal;
}

.sell-price .uc-price {
  font-weight: bold;
}

.uc-model-label {
}

.uc-model {
  font-weight: normal;
}

.uc-dimensions-label {
  font-weight: bold;
}

.list-price {
  font-size: 1.3em;
}

.sell-price {
  font-size: 1.6em;
}

.view-uc-catalog-terms .views-field-name {
  font-size: 2em;
}

.form-item-qty {
  display: inline;
  margin-top: 0;
}

.add-to-cart .form-actions,
.views-field-addtocartlink .form-actions {
  display: inline;
  margin-left: 8px;
  margin-top: 0;
}

.view-store-random-product .views-field-title {
  font-size: 1.4em;
}

.view-store-random-product .views-field-list-price {
  font-size: 1.2em;
}

.view-store-random-product .views-field-sell-price {
  font-size: 1.4em;
  font-weight: bold;
}

.add-to-cart .form-submit,
.views-field-addtocartlink .form-submit {
  margin-top: 0px;
}